{% extends "base.html" %}

{% block title %}Products{% endblock %}

{% block content %}
<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="http://127.0.0.1:8000">Products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="http://127.0.0.1:8000/add_product/">Add product</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="http://127.0.0.1:8000/register_user/">Register user</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="http://127.0.0.1:8000/login/">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="http://127.0.0.1:8000/register_profile/">Register profile</a>
  </li>
</ul>
<div class="container">
  <h1>Products</h1>
  <div class="row">
  {% for product in products %}
    {% if forloop.counter0|divisibleby:4 %}
      </div><div class="row mb-3">
    {% endif %}
    <div class="col-3">
      {% include "product.html" %}
    </div>
  {% endfor %}
    </div>
</div>

{% endblock %}