{% load static %}


<div class="card">
  {% if product.image %}
    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.title }}">
  {% else %}
    <img src="{% static 'img/no-image.png' %}" class="card-img-top" alt="{{ product.title }}">
  {% endif %}
 <div class="card-body">
   <h5 class="card-title">{{ product.title }}</h5>
   <p class="card-text">Color: {{ product.color }}</p>
   <p class="card-text">Price: {{ product.price }}</p>
   <p class="card-text">Purchase: {% for purchase in product.purchases.all %} {{ purchase }} {% endfor %}</p>
 </div>
</div>
